@{
    ViewBag.Title = "Scenario Project Documentation";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<ol>
    <li>Added ExerciseDataXML.xml to App_Data Folder</li>
    <li>In the Models Folder - Created a new item named Scenario.cs and Created a Class named Scenario to get/set properties for all the XML Elements</li>
    <li>In the Models Folder - Created a new item named ScenariosSummary.cs and Created a Class named ScenariosSummary to hold List<ScenarioDetails>, page count and current page  </li>
</ol> 